.search-suggestion-container {
  position: absolute;
  width: 455px;
  max-height: 265px;
  overflow-y: auto;
  background-color: white;
  border-radius: 10px;
  margin-left: 18rem;
  margin-top: 0.3rem;
  padding: 15px 0 15px 0;
  border:1px solid gainsboro;
}

.suggestion-container {
  padding: 1px;
}

.suggest-items {
  height: 75px;
  margin: 15px;
  color: black;
  display: flex;
  border-radius: 10px;
}

.food-images {
  border-radius: 10px;
  width: 70px;
  height: 70px;
}
.short-desc {
  width: 321px;
  margin-left: 15px;
}

.food-type {
  color: gray;
}
.no-items-found {
  color: gray;
  padding-left: 20px;
}

.dropdown {
  color: gray;
  width: 20px;
  padding: 3px;
}
