.center-conainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-component {
  margin-left: 10px;
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.searchbar-component {
  padding: 0 20px 0 20px;
}
.margin-leftheader {
  margin: 0 0 0 80px;
  padding-right: 20px;
  font-size: larger;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

.location-description {
  align-self: center;
  width: 80%;
  font-family: sans-serif;
  font-size: 2rem;
}
.food-allfilter-container {
  width: 82%;
  display: flex;
  flex-direction: row;
  /* align-self: start; */
  gap: 20px;
}

.food-allfilter-container > div {
  width: 70px;
  height: 25px;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  color: gray;
  border: 1px solid gainsboro;
}
.food-items-cross {
  width: 60px;
  height: 25px;
  color: white;
  background-color: #ef4f5f;
  padding: 8px;
  border: none;
}

.all-card-conatiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.card-component {
  width: 328px;
  height: auto;
  padding: 10px 10px;

  border-radius: 20px;

  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
}
.images {
  width: 328px;
  height: 12rem;

  border-radius: 20px;
}

.card-description {
  width: 328px;
}
.restanrentname {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.restanrentname div {
  font-size: larger;
}
.restanrentname .ratting {
  color: gray;
  font-size: medium;
}

.fooditems {
  display: flex;
  justify-content: space-between;
  color: gray;
  font-size: small;
}
